@import 'mixin.module';

$weather-status-icon__size: 16rem;
$weather-status-icon__size-small: 11rem;

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 0.3s ease-out;
}

.weatherConditionImage {
    align-self: center;
    width: $weather-status-icon__size;
    height: $weather-status-icon__size;

    @include respond-below(sm) {
        width: $weather-status-icon__size-small;
        height: $weather-status-icon__size-small;
    }
}

:global(.ant-typography).temperature {
    display: flex;
    align-items: flex-start;
    font-size: 4rem;
    font-weight: 600;

    > .number {
        line-height: 1;
    }

    > .symbol {
        font-size: 2.5rem;
        line-height: 1.2;
    }
}

.date {
    margin-top: 1rem;
}

.weatherDataContainer {
    display: flex;
    align-items: center;

    > .icon {
        width: 2rem;
        height: 2rem;
    }

    > .data {
        margin: 0;
    }
}

:global(.ant-typography).description {
    font-size: 1rem;
    margin-top: -0.5rem;
    margin-bottom: 0;
}

// Skeleton loader
.loader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    > :global(.ant-skeleton-element) {
        &.image {
            display: flex;
            justify-content: center;
            align-self: center;
            align-items: center;
            width: $weather-status-icon__size;
            height: $weather-status-icon__size;

            @include respond-below(sm) {
                width: $weather-status-icon__size-small;
                height: $weather-status-icon__size-small;
            }
        }

        &.temperature {
            margin-bottom: 1.2rem;
        }

        &.description {
            padding-top: 0.4rem;
        }
    }
}
