{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "printWidth": 100,
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["*.json", "*.md"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
